@import url(/css/reset.css);
body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.weather__app {
  width: 600px;
  max-height: 435px;
}
.weather__search {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  height: 45px;
  position: relative;
}
.weather__input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 16px;
  font-size: 18px;
  line-height: 21px;
  color: #696969;
}
.weather__search-icon {
  position: absolute;
  right: 17px;
  top: 7px;
  pointer-events: none;
}
.weather__wrapper {
  display: flex;
}
.weather__info {
  width: 300px;
  border-color: #000;
  border-style: solid;
  border-width: 0 1px;
  display: none;
}
.weather__dicide {
  max-height: 350px;
  overflow-y: auto;
}
.weather__temp-now {
  font-size: 70px;
  line-height: 82px;
  padding-left: 23px;
  margin-bottom: 40px;
  padding-top: 14px;
}
.weather__cloud-now {
  padding-left: 112px;
  margin-bottom: 98px;
}
.weather__display-wrapper {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
}
.weather__city {
  padding-left: 12px;
}
.weather__like {
  padding-right: 26px;
}
.weather__like-icon {
  cursor: pointer;
}
.weather__city-details {
  padding-top: 33px;
  padding-left: 17px;
  margin-bottom: 42px;
}
.weather__list-details {
  padding-left: 15px;
  padding-bottom: 52px;
}
.weather__item-details + .weather__item-details {
  padding-top: 14px;
}
.weather__city-forecast {
  margin-bottom: 7px;
}
.weather__blocks {
  display: flex;
  flex-direction: column;
}
.weather__block {
  border: 1px solid #000000;
  width: 265px;
  margin-left: 18px;
}
.weather__block + .weather__block {
  margin-top: 9px;
}
.weather__block:last-child {
  margin-bottom: 9px;
}
.weather__block-wrapper {
  display: flex;
  justify-content: space-between;
}
.weather__left-side {
  padding-left: 10px;
}
.weather__date {
  font-size: 18px;
  line-height: 21px;
  padding-top: 6px;
}
.weather__tempetarute {
  margin-top: 38px;
  font-size: 18px;
  line-height: 21px;
}
.weather__feel {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 13px;
}
.weather__right-side {
  padding-right: 12px;
}
.weather__time {
  font-size: 18px;
  line-height: 21px;
  padding-top: 6px;
}
.weather__types {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.weather__type {
  font-size: 18px;
  line-height: 21px;
}
.weather__tabs {
  display: flex;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.weather__tab {
  width: 100px;
}
.weather__tab:nth-child(2) {
  border-width: 0 1px 0px 1px;
  border-style: solid;
  border-color: #000;
  width: 98px;
}
.weather__link {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 0;
  text-transform: capitalize;
}
.weather__link:hover {
  background-color: #000;
  color: #fff;
}
.weather__locations {
  width: 300px;
}
.weather__added-location {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #000;
}
.weather__locations-header {
  padding-top: 33px;
  padding-left: 18px;
  display: inline-block;
}
.weather__list {
  height: 299px;
  padding-left: 18px;
  padding-top: 35px;
  border-color: #000;
  border-width: 0 1px 1px 0;
  border-style: solid;
}
.weather__item + .weather__item {
  padding-top: 14px;
}
.weather__item-link {
  text-decoration: none;
  color: #000;
}

.active {
  background-color: #000;
  color: #fff;
}

.show {
  display: block;
}